h1 {
    color: red;
}

p, li {
    color: green;
}

li {
    list-style-type: none;
}

span.special {
    color: orange;
    font-weight: bold;
}

li.special {
    color: blue;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

a:link.special {
    color:pink;
}

a:visited {
    color:navy;
}

a:hover {
    text-decoration:line-through;
}

